/*

This file contains a number of styles that exist to override the core styles that exist in main.min.

Care should be taken therefore in applying these to the application, and they have been separated for this reason.

*/

.order-option-main ul {
    padding-left: 1em;
}

.order-option-main li {
    list-style-type: disc;
}

.prototype-pages {
    padding-left: 2em;
}

.prototype-pages li {
    list-style-image: url(../images/list-link-bullet.png);
    padding-left: 0.5em;
}