.progress-tabs ul[role=tablist] {
    margin-bottom: 0;
    counter-reset: stepnumber;
}

.progress-tabs ul[role=tablist] li {
    padding: 0.5em;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: #FFF;
    border: 2px solid #DDD;
    border-bottom: none;
}

.progress-tabs ul[role=tablist] li.completed-step {

}

.progress-tabs ul[role=tablist] li.completed-step button {
    color: #777;
}

.progress-tabs ul[role=tablist] li.completed-step button:after {
    content: ' (completed)';
}

.progress-tabs ul[role=tablist] li:before {
    counter-increment: stepnumber;
    content: counter(stepnumber);
    font-size: 0.8em;
}

.progress-tabs ul[role=tablist] li.selected {
    background-image: none;
    background-color: #DDD;
    border-color: #DDD;
    border-bottom: none;
}

.progress-tabs ul[role=tablist] li.selected button {
    text-decoration: underline;
    color: #000;
}

div[role=tabpanel] {
    border: 2px solid #DDD;
    padding: 1em;
}

div[role=tabpanel] ul {
    padding-left: 1em;
}

div[role=tabpanel] li {
    list-style-type: disc;
}

.page-check-form {
    border: 1px solid #DDD;
    margin-top: 1em;
    padding: 1em;
    background-color: #EEE;
}

.page-check-form textarea {
    min-width: 98.2%;
}

/*
Note:   the following styles - namespaced by '.basket-contents' will require changes to the HTML in the basket (which currently - incorrectly - uses dl, dd, and dt)
        The CSS below is not optimal either, and will need to be refactored for SASS
*/

.basket-contents {

}

.basket-item {
    border-bottom: 1px dotted #CCCCCC;
}

.basket-item ul {
    padding: 1em 0;
}

.basket-item li {
    padding: 0.5em 0;
}

.basket-item li:first-child {
    border-top: 1px dotted #CCCCCC;
}




.basket-contents .basket-item strong {
    vertical-align: top;
    display: inline-block;
    width: 35%;
}

.basket-contents .basket-item span {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}

/*
END OF styles namespaced by '.basket-contents'
*/

.email-mock {
    margin: auto;
    max-width: 70%;
    background-color: #FFF;
    padding: 2em;
}

.email-mock table {
    text-align: left;
}

.email-mock table caption{
    text-align: left;
    padding-bottom: 0.2em;
}

.email-mock table tr:nth-child(odd) {
    background-color: #EFEFEF;
}

.start-page-check .you-choose {
    display: none;
}

.your-orders table {
    width: 100%;
    text-align: left;
}

.your-orders table td, .your-orders table th {
    width: 50%;
    vertical-align: top;
}

.your-orders table caption {
    display: none;
}