.progress-tabs {
    font-size: 0.85em;
}

.progress-tabs-label {
    margin-top: 1em;
    display: inline-block;
    background-color: #DEDEDE;
    padding: 0 1em 0 1em;
}

.progress-tabs-label h3.inline {

}

.progress-tabs ul[role=tablist] {
    counter-reset: stepnumber;
    padding: 1em 1em 0 1em;
    border: 5px solid #DDD;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

.progress-tabs ul[role=tablist] li {
    padding: 0.5em 1.5em 0.5em 0.5em;
    margin-bottom: 1em;
    display: block;
    background-color: #E2E2E2;
    background-image: url('../images/inactive-step-indicator-last.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.progress-tabs ul[role=tablist] li.completed-step {

}

.progress-tabs ul[role=tablist] li.completed-step button {
    color: #777;
}

.progress-tabs ul[role=tablist] li.completed-step button:after {
    content: " (completed)";
    font-size: 0.8em;
}

/*.progress-tabs ul[role=tablist] li:before {*/
    /*counter-increment: stepnumber;*/
    /*content: counter(stepnumber);*/
    /*font-size: 0.8em;*/
/*}*/

.progress-tabs ul[role=tablist] li.selected {
    background-image: url('../images/active-step-indicator.png');
    background-color: #405480;
    color: #FFF;
    border-bottom: none;
}

.progress-tabs ul[role=tablist] li.selected button {
    text-decoration: underline;
    color: #FFF;
}

div[role=tabpanel] {
    border: 2px solid #DDD;
    padding: 1em;
}

div[role=tabpanel] ul {
    padding-left: 1em;
}

div[role=tabpanel] li {
    list-style-type: disc;
}

.page-check-form, .certified-copy-form {
    border: 1px solid #DDD;
    margin-top: 1em;
    padding: 1em;
    background-color: #EEE;
}

.page-check-form textarea, .certified-copy-form textarea {
    min-width: 98.2%;
}

/*
Note:   the following styles - namespaced by '.basket-contents' will require changes to the HTML in the basket (which currently - incorrectly - uses dl, dd, and dt)
        The CSS below is not optimal either, and will need to be refactored for SASS
*/

.basket-contents {

}

.basket-item {
    position: relative;
    border-bottom: 1px dotted #CCCCCC;
}

.basket-item ul {
    padding: 1em 0;
}

.basket-item li {
    padding: 0.5em 0;
}


.basket-item li a.removeLink {
    font-size: 0.85em;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.basket-item li:first-child {
    border-top: 1px dotted #CCCCCC;
}

.basket-contents .basket-item strong {
    vertical-align: top;
    display: inline-block;
    width: 35%;
}

.basket-contents .basket-item span {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}

/*
END OF styles namespaced by '.basket-contents'
*/

.email-mock {
    margin: auto;
    max-width: 70%;
    background-color: #FFF;
    padding: 2em;
}

.email-mock table {
    text-align: left;
}

.email-mock table caption {
    text-align: left;
    padding-bottom: 0.2em;
}

.email-mock table tr:nth-child(odd) {
    background-color: #EFEFEF;
}

.start-page-check .you-choose {
    display: none;
}

.confirm-and-pay table {
    width: 100%;
    text-align: left;
}

.confirm-and-pay table td, .confirm-and-pay table th {
    width: 50%;
    vertical-align: top;
}

.confirm-and-pay table caption {
    display: none;
}

.copying-options {
    border-top: 1px solid #DDD;
    margin-top: 1em;
    padding-top: 1em;
}

.orderItem {
    border: 1px solid #DDD;
    background: #fff;
    padding: 1em 0 1em 2%;
    position: relative;
}

ul.sibling li {
    clear: both;
}

.proceed-links {
    padding: 1em 2em;
    background-color: #383838;
    position: fixed;
    bottom: 0;
    right: 0;
}

.proceed-links a {
    color: #EFEFEF;
    font-size: 0.85em;
}

.vertically-centered {
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.instruction-box {
    border-radius: 1em;
    padding: 2em;
    background-color: #CDCDCD;
    color: #000;
}

.button-holder {
    margin-bottom: 1em;
}

#miniBasketWrapper {
    width: 240px;
}

#miniBasketWrapper ul li {
    width: 100%;
}

.call-to-action-link {
    background-color: #099;
}

input[type=submit]:disabled {
    background: #777;
}

@media only screen and (min-width: 768px) {
    .progress-tabs ul[role=tablist] li {
        display: inline-block;
        min-width: 40%;
    }
}

@media only screen and (min-width: 960px) {
    .progress-tabs ul[role=tablist] li {
        display: inline-block;
        min-width: 0;
    }
}